@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@keyframes helloworld {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}

}

@keyframes b2text {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
body {
    background-color: black;
  }
  /* HEADER */
  canvas {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .header{ 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
  }
  .header h1{
    padding: 200px 200px 50px 200px;
    font-family: Roboto-Light;
    animation: helloworld 5s ease 0s 10 normal forwards;
  }

  .header p{
    margin: auto;
    color:#929292;
    font-family: Roboto-Light;
  }
  .header a{
    position: relative;
    margin:auto;
  }

    /* BLOCK 2 */

.block2{
    background: radial-gradient(circle, rgba(0,8,60,1) 0%, rgba(0,0,0,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position:relative;
    padding: 200px;
}

.b2text{
    animation: b2text 5s ease 0s 1 normal forwards;
}